---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- List publications by year -->
{% assign current_year = "" %}
{% for post in site.publications reversed %}
  {% assign post_year = post.date | default: "1900-01-01" | date: "%Y" %}
  {% if post_year != current_year %}
    {% unless current_year == "" %}
      </div>
    {% endunless %}
    <h2>{{ post_year }}</h2><hr />
    <div class="publications-year">
    {% assign current_year = post_year %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
{% unless current_year == "" %}
  </div>
{% endunless %}



