{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="portfolio-item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | prepend: base_path }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ title }}</a>
      {% else %}
        <a href="{{ post.url }}" rel="paperurl">{{ title }}</a>
      {% endif %}
    </h2>

    <p class="portfolio-venue">
      {% if post.collection == 'publications' %}
        Published in <i>{{ post.venue }}</i>
      {% endif %}
    </p>

    <div class="portfolio-excerpt">
      {{ post.excerpt | markdownify }}
    </div>

    <p class="portfolio-read-more">
      <a href="{{ base_path }}{{ post.url }}" class="read-more-link">Read more</a>
    </p>
  </article>
</div>